@model WebsiteBanVeXe.Models.ticket
@{
    ViewBag.Title = "flightDetail";
    Layout = "~/Views/Shared/_layOutSite.cshtml";
}
<section class="booking">
    <div class="container bg-white" style="padding:20px;">
        <div class="row">
            <div class="col-md-8">
                <div class="booking-confirmed booking-outer">
                    <div class="confirmation-title">
                        <div class="form-title form-title-1">
                            <h2 class="text-danger">Chi tiết vé: @Model.departure_address -> @Model.arrival_address</h2>
                        </div>
                        <div class="payment-info detail">
                            <div class="row">
                                <div class="col-md-12">
              
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <table class="table" style="margin-top:20px;">
                    <tbody>
                        <tr>
                            <td class="title">hình ảnh </td>
                            <td> <img src="~/public/images/flight/@Model.img" alt=""></td>
                        </tr>
                        <tr>
                            <td class="title">Tên nhà xe</td>
                            <td>@Model.CoachName</td>
                        </tr>
                        <tr>
                            <td class="title">Giá vé</td>
                            <td class="b-id text-danger">@Model.price.ToString("N0") VND</td>
                        </tr>
                        <tr>
                            <td class="title">Thời gian xuất bến</td>
                            <td>@Model.departure_date.ToString("dd-MM-yyyy") ||  Lúc @Model.departure_date.ToString("hh:mm tt") </td>
                        </tr>
                        <tr>
                            <td class="title">Nơi Xuất phát</td>
                            <td>@Model.departure_address</td>
                        </tr>
                        <tr>
                            <td class="title">Nơi đến</td>
                            <td>@Model.arrival_address</td>
                        </tr>
                        <tr>
                            <td class="title">Bến Xe</td>
                            <td>@Model.airport</td>
                        </tr>
                        <tr>
                            <td class="title">Biển số xe</td>
                            <td>@Model.licensePlates</td>
                        </tr>
                        <tr>
                            @{
                                var guestTotal = (int)Model.guestTotal - (int)Model.sold;
                            }
                            <td class="title">Ghế trống</td>
                            <td>@guestTotal  / @Model.guestTotal Ghế    </td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>
    </div>
</section>
<style>
    .title {
        font-size: 17px;
        font-weight: bold;
        padding-right: 50px;
        color: #ff0000;
    }
</style>