@model IEnumerable<WebsiteBanVeXe.Models.ticket>
@{ var sum = 0;}
@foreach (var item in Model)
{
    
    <table style="margin-top:20px;">
        <tbody>

            <tr>
                <td class="title">Biển số xe</td>
                <td>@item.licensePlates</td>
            </tr>
            <tr>
                <td class="title">Tên nhà xe</td>
                <td>@item.CoachName</td>
            </tr>
            <tr>
                <td class="title">Nơi xuất phát</td>
                <td>@item.departure_address</td>
            </tr>
            <tr>
                <td class="title">Nơi đến</td>
                <td>@item.arrival_address</td>
            </tr>
            <tr>
                <td class="title">Biển số xe</td>
                <td>@item.licensePlates</td>
            </tr>
            <tr>
                <td class="title">Tổng tiền</td>
                <td class="b-id text-danger font-weight-bold">@item.price.ToString("N0") VND</td>
            </tr>
        </tbody>
    </table>
    sum += (int)item.price;
}
